@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    background-image: url("./images/mobile/image-host.jpg");
    background-color: #121725;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  @media (min-width: 768px) {
    body {
      background-image: url("./images/tablet/image-host.jpg");
      background-color: #121725;
      background-blend-mode: normal;
      background-repeat: no-repeat;
      background-size: 30.688rem 47.938rem;
      background-position: top right;
    }
  }

  @media (min-width: 1280px) {
    body {
      background-image: url("./images/desktop/image-host.jpg");
      background-color: #121725;
      background-blend-mode: normal;
      background-repeat: no-repeat;
      background-size: 55.5rem 40rem;
      background-position: center right;
    }
  }
}
